.profile {
  color: #fff;
  background: #202020;
  box-sizing: border-box;
  padding: 74px 0 0;
  font-family: Inter, sans-serif;
  position: relative;
}

.profile__container {
  width: 410px;
  margin: 0 auto;
}

.profile__form {
  display: flex;
  flex-direction: column;
}

.profile__title {
  margin: 0 0 123px 0;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}

.profile__label {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  font-weight: 500;
  line-height: normal;
  box-sizing: border-box;
  padding-bottom: 13px;
  border-bottom: 1px solid #424242;
}

.profile__label:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
  margin-bottom: 215px;
  margin-top: 17px;
}

.profile__error {
  color: #FF004C;
  text-align: center;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.profile__message {
  color: #0ad156;
  text-align: center;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.profile__input {
  font-weight: 400;
  color: #FFF;
  text-align: right;
  font-family: Inter;
  font-size: 11px;
  line-height: normal;
  background-color: #202020;
  outline: none;
  border: 1px solid transparent;
  border-radius: 3px;
  max-width: 65%;
  width: 65%;
}

.profile__input_type_error {
  color: #EE3465;
}

.profile__input:focus {
  border: 1px solid white;
}

.profile__input:hover {
  cursor: default;
}

.profile__button {
  text-align: center;
  font-family: Inter;
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 1;
  transition: all .3 ease-in-out;
  background: transparent;
  border: none;
  margin-bottom: 16px;
  padding: 0;
}

.profile__button:hover {
  cursor: pointer;
  opacity: .8;
}

.profile__button:last-of-type {
  margin-bottom: 0;
}

.profile__button_type_sign-out {
  color: #EE3465;
  font-weight: 500;
}

.profile__button_type_edit {
  opacity: 1;
  color: #FFF;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  transition: opacity .3s ease-in-out;
  height: 45px;
  background-color: #3456F3;
  border-radius: 3px;
  outline: none;
  width: 100%;
  margin-top: 20px;
}

.profile__button_type_edit:focus {
  border: 1px solid #000;
}

.profile__button_type_disabled {
  background-color: #F8F8F8;
  color: #C2C2C2;
}

.profile__button_type_disabled:hover {
  cursor: default;
}

@media screen and (max-width: 768px) {
  .profile {
    padding-top: 236px;
  }

  .profile__title {
    margin-bottom: 96px;
  }

  .profile__label {
    padding-bottom: 12px;
  }

  .profile__label:last-of-type {
    margin-bottom: 206px;
  }
}

@media screen and (max-width: 550px) {
  .profile {
    padding-top: 70px;
  }

  .profile__container {
    width: 260px;
  }

  .profile__title {
    margin-bottom: 80px;
  }

  .profile__input {
    display: inline-block;
    max-width: 75%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .profile__button {
    font-size: 12px;
  }

  .profile__label:last-of-type {
    margin-bottom: 375px;
  }
}