.page {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #fff;
  font-family: Inter, sans-serif;
  transition: all .3s ease-in-out;
  background-color: #202020;
}